LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT="ares-agent"

OPENROUTER_API_KEY=...
OPENROUTER_MODEL=...

TAVILY_API_KEY=...
FIRECRAWL_API_KEY=...

NEO4J_URI=...
NEO4J_USER=...
NEO4J_PASSWORD=...

SNYK_TOKEN=...
SEMGREP_APP_TOKEN=...
SHODAN_API_KEY=...
VIRUSTOTAL_API_KEY=...
